/*

---------------------------------------------
Table of contents
------------------------------------------------
1. Typography
2. General
3. Nav
4. Hero Carousel
5. Accordion
6. Shop
7. Product
8. Carousel Hero
9. Carousel Brand
10. Services
11. Contact map
12. Footer
13. Small devices (landscape phones, 576px and up)
14. Medium devices (tablets, 768px and up)
15. Large devices (desktops, 992px and up)
16. Extra large devices (large desktops, 1200px and up)
--------------------------------------------- */
body, html {
    margin: 0;
}


body, ul, li, p, a, label, input, div {
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
}

.h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px !important;
    font-weight: 200 !important;
}

.h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
}

.h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px !important;
}

/* General */
.logo {
    font-weight: 500 !important;
}

.text-warning {
    color: #ede861 !important;
}

.text-muted {
    color: #bcbcbc !important;
}

.text-success {
    color: #59ab6e !important;
}

.text-light {
    color: #cfd6e1 !important;
}

.bg-dark {
    background-color: #212934 !important;
    position: relative;
    width: 100%;
    margin: 0;
}

.bg-light {
    background-color: #e9eef5 !important;
    position: relative;
    width: 100%;
    margin: 0;
}

.bg-black {
    background-color: #1d242d !important;
}

.bg-success {
    background-color: #59ab6e !important;
}

.btn-success {
    background-color: #47474762 !important;
    border-color: #000000 !important;
    align-content: flex-start;
}

.pagination .page-link:hover {
    color: #000;
}

.pagination .page-link:hover,
.pagination .page-link.active {
    background-color: #69bb7e;
    color: #fff;
}

main {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Content */
#main-container {
    position: relative;
    margin: 0;
    width: 100%;
}

#login-container {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

#card-content {
    position: relative;
    margin: 0;
    min-width: 550px;
    max-width: 550px;
    height: 100%;
}

/* Nav */

#florace_nav_top {
    min-height: 40px;
}

#florace_nav_top * {
    font-size: .9em !important;
}

#florace_main_nav a {
    color: #212934;
}

#florace_main_nav a:hover {
    color: #69bb7e;
}

#florace_main_nav .navbar-collapse .nav-icon .fa {
    margin-right: 20px;
}

.row p-5{
    position: relative;
    margin: 0;
    width: 100%;
}
.img-fluid {
    position: relative;
    margin: 0;
    width: 100%;
}
/* Hero Carousel */
#template-mo-zay-hero-carousel {
    background: #efefef !important;
    position: relative;
    margin: 0;
    height: 89%;
    width: 100%;
}

.mx-auto  {
    position: relative;
    margin: 0;
    width: 100%;
}
/* Accordion */
.florace-accordion a {
    color: #000;
}

.florace-accordion a:hover {
    color: #333d4a;
}

/* Shop */
.shop-top-menu a:hover {
    color: #69bb7e !important;
}

/* Product */
.product-wap {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}

.product-wap .product-color-dot.color-dot-red {
    background: #f71515;
}

.product-wap .product-color-dot.color-dot-blue {
    background: #6db4fe;
}

.product-wap .product-color-dot.color-dot-black {
    background: #000000;
}

.product-wap .product-color-dot.color-dot-light {
    background: #e0e0e0;
}

.product-wap .product-color-dot.color-dot-green {
    background: #0bff7e;
}

.card.product-wap .card .product-overlay {
    background: rgba(0, 0, 0, .2);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.card.product-wap:hover .card .product-overlay {
    visibility: visible;
    opacity: 1;
}

.card.product-wap a {
    color: #000;
}

#carousel-related-product .slick-slide:focus {
    outline: none !important;
}

#carousel-related-product .slick-dots li button:before {
    font-size: 15px;
    margin-top: 20px;
}

/* Brand */
.brand-img {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: .5s;
}

.brand-img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators li {
    margin-top: -50px;
    background-color: #59ab6e;
}

#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
    color: #59ab6e !important;
    font-size: 2.8em !important;
}

/* Carousel Brand */
.florace-carousel .h1 {
    font-size: .5em !important;
    color: #000 !important;
}

/* Services */
.services-icon-wap {
    transition: .3s;
}

.services-icon-wap:hover,
.services-icon-wap:hover i {
    color: #fff;
}

.services-icon-wap:hover {
    background: #69bb7e;
}

/* Contact map */
.leaflet-control a,
.leaflet-control {
    font-size: 10px !important;
}

#auth_content {
    position: relative;
    margin: 0;
}

#product_content {
    position: relative;
    margin-bottom: 34px;
}

.form-control {
    border: 1px solid #e8e8e8;
}

.col-lg-5 {
    position: relative;
    margin-bottom: 16px;

}

/* Footer */

#footer {
    position: relative;
    width: 100%;
    margin-top: 21px;
    height: 34px;
}
#container-footer {
    position: relative;
    width: 100%;
    height: 21%;

}
.row text-light{
    position: relative;
}
.w-100{
    position: relative;
}
#florace_footer a {
    position: relative;
    color: #dcdde1;
}

#florace_footer a:hover {
    position: relative;
    color: #68bb7d;
}

#florace_footer ul.footer-link-list li {
    position: relative;
    padding-top: 10px;
}

#florace_footer ul.footer-icons li {
    position: relative;
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;

}

#florace_footer ul.footer-icons li:hover {
    background-color: #cfd6e1;
    transition: .5s;
}

#florace_footer ul.footer-icons li:hover i {
    color: #212934;
    transition: .5s;
}

#florace_footer .border-light {
    border-color: #2d343f !important;
}

/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3,
.product-wap li,
.product-wap i,
.product-wap p {
    font-size: 12px !important;
}

.product-wap .product-color-dot {
    width: 6px;
    height: 6px;
}

/*
// Dropdown menu
*/
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 60px;
}

.dropdown-menu {
    display: block;
    background: rgba(255, 255, 255, .5);
    position: absolute;
    opacity: 0;
    transition: .5s;
    margin-top: 0px;
}

.dropdown-large {
    min-width: 500px;
    padding-left: 14px;
}

@media (min-width: 576px) {
    .florace-carousel .h1 {
        font-size: 1em !important;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #florace_main_nav .navbar-nav {
        max-width: 450px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #florace_main_nav .navbar-nav {
        max-width: 550px;
    }

    #template-mo-zay-hero-carousel .carousel-item {
        min-height: 30rem !important;
    }

    .product-wap .h3,
    .product-wap li,
    .product-wap i,
    .product-wap p {
        font-size: 18px !important;
    }

    .product-wap .product-color-dot {
        width: 12px;
        height: 12px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}


.container.collection {
    height: 100vh;
    width: 100vw;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}

.border:hover {
    border: 5px solid white;
}

.card0 {
    height: 379px;
    width: 300px;
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card1 {
    height: 379px;
    width: 300px;
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card2 {
    height: 379px;
    width: 300px;
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card0 {
    background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg') center center no-repeat;
    background-size: 300px;
}

.card0:hover {
    background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg') left center no-repeat;
    background-size: 600px;
}


.card1 {
    background: url('https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg') center center no-repeat;
    background-size: 300px;
}

.card1:hover {
    background: url('https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg') left center no-repeat;
    background-size: 600px;
}


.card2 {
    background: url('https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg') center center no-repeat;
    background-size: 300px;
}

.card2:hover {
    background: url('https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg') left center no-repeat;
    background-size: 600px;
}

h2 {
    opacity: 1;
}

.fa .card {
    opacity: 1;
}

h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
}

.fa .card {
    opacity: 0;
    transition: opacity 1s;
}

.icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/**
 * @license
 * Copyright 2019 Google LLC. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */
/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}
<!- Custom area ->
.textarea {
  width: 100%;
  background-color:
  #eee eee;
  overflow:hidden;
  height:250px;
  max-height:250px;
  border:1px solid #ccc;
  overflow-y: auto;
}